<!DOCTYPE HTML>
<html>
  <head>
  	<meta charset="UTF-8">
  	<title>The Wheel of Time Fansite</title>
  	<link rel="stylesheet" href="css/website.css">
  </head>
  <body>
  	<div id="container">
  		<%- include('./partials/_header.ejs'); %>
  		<%- yield %>
   		<%- include('./partials/_footer.ejs'); %>
   	</div>
  </body>
</html>

