<h1 id="header">Abilities</h1>
<div class="fullpage">
	<div id="navbar">
		<ul id="menu">
			<li><a href="index.html">Home</a></li>
			<li><a href="plot.html">Plot</a></li>
			<li><a href="characters.html">Characters</a></li>
			<li><a href="setting.html">Setting</a></li>
			<li class="active"><a href="abilities.html">Abilities</a></li>
			<li><a href="authors.html">Authors</a></li>
			<li><a href="adaptations.html">Adaptations</a></li>
		</ul>
	</div>
	<div id="content">
		<div id="main">
			<iframe id="video" src="https://www.youtube.com/embed/j_3LFl_QYw4" allowfullscreen></iframe>
			<h3>Channelling</h3>
			<p id="charleft"> <img id="charimgright" src="images/one-power.png" alt="black background, yin-yang symbol created with one side made of fire and the other side water.">
			Channelers are those capable of using the One Power. The One Power emanates from the True Source. Those who can channel may be taught how to wield this power to become Aes Sedai in the White Tower of Tar Valon. Men who are able to channel take it from Saidin, the male half. Women who can channel take it from Saidar, the female half. The One Power is made up of the 5 Powers - Fire, Water, Air, Earth and Spirit. Men are generally stronger with Fire and Earth, while women are strong with Air and Water. Spirit is a rare strength in either gender but each who wield it have equal power. The Dark One has tainted Saidin, causing all male wielders of the One Power go insane and eventually die if wielded for too long.</p>
			<hr>
			<h3>Wolf Brother</h3>
			<p id="charright"> <img id="charimgleft" src="images/wolfbrother.jpg" alt="a simplistic black and white drawing of the shadow of a wolf standing in front of a black square with a larger white square framing everything.">
			A person who develops a bond with wolves and inherits some characteristics of a wolf. They are able to hear the thoughts of wolves around them. Their eyes will turn an Amber-Gold colour, their eyesight improves and they develop an extraordinary sense of smell. They are also able to enter Tel'aran'rhiod, the Dream World, which can be used to discern possible futures. All Wolfbrothers at this point in the series have been male. After leaving Emond's Field Perrin begins to develop these abilities.
			</p>
			<hr>
			<h3>Sniffing</h3>
			<p id="charleft"> <img id="charimgright" src="images/sniffing.jpg" alt=" a man stands leaning against a tree in brown armour. He is wearing a sword on his belt and a red cape. A silver horned helm is on his head.">
			A sniffer is an individual who can literally smell violence or the residue of violence. The worse and more recent the violent act the stronger and more foul the smell. It is not known how the ability works, but it has been confirmed that it is not related to the One Power. The only currently known Sniffer is Hurin, who helped track the Darkfriends who stole the Horn of Valere as they murdered their way across the land to return the Horn to Ba'alzamon.</p>
			<hr>
			<h3>Viewing</h3>
			<p id="charright"> <img id="charimgleft" src="images/mins-viewings.jpg" alt="comic book image of min staring directly forward. Underneath are various images of Rand, among cloaked/hooded men, beside water, lying in grass as if a corpse at a wake.">
			Min Farshaw possesses the ability to discern elements of the future by looking at other individuals. When she looks at them various images appear around them. These images can be vague like an eagle and a hawk looking at each other, or can be quite detailed e.g. showing the individual dead with a head wound. It is not currently known how Min obtained or channels this ability but the Aes Sedai who studied her believe it is not linked to the One Power.</p>
		</div>
		<div id="side">
		  	<h2>Ogier Abilities</h2>
		  	<img id="sideimg" src="images/treesinging.png" alt="">
		  	<p><strong>Treesinging</strong><br>
		  	Ogier are linked with nature. Through the Songs of Growing, which have been described as "the earth itself sang", the Ogier have the power to stimulate and control the growth of trees and plants. This power has been utilised to create the massive forest groves they live in, called Steddings.</p>
		  	<img id="sideimg" src="images/waygate.jpg" alt="a cellar lit by torches on the left and right walls. Barrells and crates litter either wall. Directly ahead is a large stone door taking up the entire back wall. The door has a tree carved into it.">
		  	<p><strong>Stonework</strong><br>
		  	While not a magical ability, Ogier are naturally gifted sculptors. Their stonework appears so natural that it looks like it has been grown from the stone itself rather than broken into shape. Other races in The Wheel of Time recognise the Ogier as masters of stonework.</p>
		  	<img id="sideimg" src="images/stedding.jpg" alt="A massive tree overlooks a small stream. Climbing in a circular fashion around the trees trunk is a series of pathways and buildings can be seen built into the branches. This is an Ogier Stedding.">
		  	<p><strong>Longing</strong><br>
		  	Ogier are born and raised in magical forest groves called Steddings. These forest groves represent Safe Havens as the One Power cannot be used within them. Each Ogier is tied to the Steddings, and if they are away from a Stedding for too long it can lead to crippling depression and madness.</p>
		</div>
	</div>
</div>