<h1 id="header">Adaptations</h1>
<div class="fullpage">
	<div id="navbar">
		<ul id="menu">
			<li><a href="index.html">Home</a></li>
			<li><a href="plot.html">Plot</a></li>
			<li><a href="characters.html">Characters</a></li>
			<li><a href="setting.html">Setting</a></li>
			<li><a href="abilities.html">Abilities</a></li>
			<li><a href="authors.html">Authors</a></li>
			<li class="active"><a href="adaptations.html">Adaptations</a></li>
		</ul>
	</div>
	<div id="content">
		<div id="mainsplit">
			<div id="splitleft">
			  	<img id="adaptationimg" src="images/wheel-of-time-comics.jpg" alt="'Robert Jordan's the Wheel of Time is written over a large golden Horn, a Banner with a Red Dragon on it and a half-black, half-white stone. Below is a grouping of most of the main characters with Rand standing in front.">
			  	<h3>Comic Books</h3>
			  	<p id="adapleft">The Wheel of Time Series has been recreated as a series of comic books. These are written and drawn by Chuck Dixon and Chase Conley, and published on a monthly basis by Dynamite Entertainment.<br>So far, the prequel book A New Spring and Book one The Eye of the World have been published in a total of 43 issues.</p>
			  	<hr>
			  	<img id="adaptationimgwide" src="images/wheel-of-time-music.jpg" alt="a black and gold drawing of a snaking eating it's tail in an infinity sign shape, wrapped around a wheel. Behind is a warped circle made up of smaller circles and dots. Thin lines spike out from the circle as if it shines. The Wheel of Time is printed inside a frame at the bottom.">
			  	<h3>Music</h3>
			  	<p id="adapleft">A Soundtrack for the Wheel of Time was released in 1999, featuring music inspired by the books. It was written, produced and performed by Robert Berry, and included 19 songs.<br>Various metal bands have taken inspiration from and written songs about the series, including Blind Guardian, Katana, Noble Beast and Shaidar Logoth, the last naming themselves after the cursed city in the series.<br>American Composer Seth Stewart produced a full-scale orchestral work entitled The Age of Legends based on the mythical era that takes place 100 generations before the main series.</p>
			</div>
			<div id="splitright">
			  	<img id="adaptationimgwide" src="images/wheel-of-time-game.jpg" alt="a woman stands outside a medieval building with candles standing on plinthes in front of her. She is wearing a blue dress with a white neckline. Blue and Red sparkles swirl around her. An inventory bar with various equipment lies across the bottom.">
			  	<h3>Games</h3>
			  	<p id="adapright">A text-based, multiplayer, real-time virtual world set around 30 years before the main series has been in continuous online operation since 1993.<br> A Computer Game(see above image) was released in 1999, in which an un-named Aes Sedai must track down a thief of the White Tower. Jordan was consulted on the project but did not write any of the plot and the game is not considered canon.<br>A Roleplaying game based on the Dungeons & Dragons d20 format was released in 2001. Jordan cited various issues with the storyline of this adaptation that contradicts the books.</p>
			  	<hr>
			  	<img id="adaptationimgwide" src="images/wot-tv-cast.jpg" alt="5 people's headshots are shown side to side. the first a young dark-skinned woman with shoulder length brown hair. She is wearing a pink jacket and a silver necklace. The second a pale, young, white man with short cropped cut brown hair. He is wearing a black top. The middle is a young with tanned skin. He has slightly longer short black hair and a short beard. He is wearing a blue denim shirt. The 4th is a young asian woman with black hair done in braids. She is wearing a brown sweater. The last is a young pale white man with spiked up brown hair. He is wearing a black and white chequered shirt with the top buttons undone.">
			  	<h3>Television Adaptation</h3>
			  	<p id="adapright">A live-action adaptation of the series has been in the works since 2000. The rights have changed hands multiple times with talks of telivision miniseries and full-budget movie series being developed at various times.<br>Currently, Sony is handing the adaptation in a co-development deal with Amazong Studios to produce a TV Series. Casting is currently underway with Rosemund Pike signed on to play Moiraine.</p>
			</div>
		</div>
		<div id="side">
		  	<h2>Conventions</h2>
		  	<img id="sideimgwide" src="images/dragon-con.jpg" alt="Curved block capitals write 'Dragon Con' across a blue and black circle with a yellow simplified dragon in flight inside the circle.">
		  	<p><strong>Dragon Con</strong><br>Dragon Con is a massive Sci-Fi and Fantasy Convention. Since the mid-80s the convention has been held yearly inviting fans of all of the largest sci-fi and fantasy movies, tv series, books and games. The Wheel of Time had an exclusive content track from 2001 through to 2012.</p>
		  	<img id="sideimgwide" src="images/jordan-con.jpg" alt="Jordan Con is shown in multi-coloured block capitals above the date, location and details of the 2019 convention. To the left of the details stands a dark-skinned woman with hair made of light and a dress made of crystals. She is holding a crystal mask that appears to be breaking.">
		  	<p><strong>Jordan Con</strong><br>In 2009, a group of fans came together in honour of the late Robert Jordan, to throw the first Jordan Con. Since then it has become a yearly event, building to include a large number of franchises from movies, tv shows, books and games. Panel Discussions merge different worlds or pit them against each other, with activities and events including Cosplay Contents, Karaoke, etc.</p>
		</div>
	</div>
</div>