<h1 id="header">Authors</h1>
<div class="fullpage">
	<div id="navbar">
		<ul id="menu">
			<li><a href="index.html">Home</a></li>
			<li><a href="plot.html">Plot</a></li>
			<li><a href="characters.html">Characters</a></li>
			<li><a href="setting.html">Setting</a></li>
			<li><a href="abilities.html">Abilities</a></li>
			<li class="active"><a href="authors.html">Authors</a></li>
			<li><a href="adaptations.html">Adaptations</a></li>
		</ul>
	</div>
	<div id="content">
		<div id="mainsplit">
			<div id="splitleft">
			  	<img id="authorsimg" src="images/robert-jordan.jpg" alt="an older man, wearing a brown with a long grey beard leans on a walking stick, standing in front of a brown wooden barrier and a number of trees.">
			  	<h3>Robert Jordan</h3>
			  	<p id="authorleft">James Oliver Rigney Jr. (October 17, 1948 – September 16, 2007), better known by his pen name Robert Jordan, was an American author of epic fantasy. He is best known for the Wheel of Time series, which was finished by Brandon Sanderson upon Jordan's death, which comprises 14 books and a prequel novel. He is one of several writers to have written original Conan the Barbarian novels; his are highly acclaimed to this day. Rigney also wrote historical fiction under his pseudonym Reagan O'Neal, a western as Jackson O'Reilly, and dance criticism as Chang Lung. Additionally, he ghostwrote an "international thriller" that is still believed to have been written by someone else. It has not been revealed what novel this refers to.<br><br>Jordan was born in Charleston, South Carolina. He served two tours in Vietnam (from 1968 to 1970) with the United States Army as a helicopter gunner. He was a history buff and enjoyed hunting, fishing, sailing, poker, chess, pool, and pipe-collecting. He lived with his wife, Harriet McDougal, in Harriet's family home in Charleston from 1981 until his death. He was diagnosed with cardiac amyloidosis in March 2006 and while his initial diagnosis gave him at least 4 years left to live he passed away in September 2007.</p>
			</div>
			<div id="splitright">
			  	<img id="authorsimg" src="images/brandon-sanderson.png" alt="a slightly overweight man with black square glasses and brown hair, wearing a t-shirt with a duck on it, a grey suit jacket and blue jeans, sits in front of a large mahogany bookcase filled with books of different coloured spines.">
			  	<h3> Brandon Sanderson</h3>
			  	<p id="authorright">Brandon Sanderson (born December 19, 1975) is an American fantasy and science fiction writer. He is best known for the Cosmere universe, in which most of his fantasy novels are set - most notably The Mistborn Series and the Stormlight Archives. He is also known for finishing Robert Jordan's high fantasy series The Wheel of Time. Sanderson was selected by Jordan's widow/editor after his passing to finish the Wheel of Time after she was highly impressed by the first novel of the Mistborn series - The Final Empire.<br><br>Sanderson was born on December 19, 1975, in Lincoln, Nebraska. After graduating from high school in 1994, he matriculated at Brigham Young University (BYU) as a biochemistry major. He took a two-year leave of absence from 1995 to 1997 to serve as a volunteer full-time missionary for the Church of Jesus Christ of Latter-day Saints and was assigned to serve in South Korea. After completing his missionary service, Sanderson returned to BYU and changed his major to English literature. In 2006, Sanderson married Emily Bushman, a fellow English major and teacher, who later became his business manager. They have three sons and reside in American Fork, Utah.<br><br>He created Sanderson's Laws of Magic and popularized the terms hard magic and soft magic systems. In 2008 Sanderson started a podcast with author Dan Wells and cartoonist Howard Tayler called Writing Excuses, involving topics about creating genre writing and webcomics.</p>
			</div>
		</div>
		<div id="side">
		  	<h2>Authors' Other Works</h2>
		  	<h3>Robert Jordan</h3>
		  	<p><strong>Conan the Barbarian</strong></p>
		  	<ol id="sidelist">
		  		<li>Conan the Invincible</li>
		  		<li>Conan the Defender</li>
		  		<li>Conan the Unconquered</li>
		  		<li>Conan the Triumphant</li>
		  		<li>Conan the Magnificent</li>
		  		<li>Conan the Destroyer</li>
		  		<li>Conan the Victorious</li>
		  	</ol>
		  	<p><strong>The Fallon Saga</strong></p>
		  	<ol id="sidelist">
		  		<li>The Fallon Blood</li>
		  		<li>The Fallon Pride</li>
		  		<li>The Fallon Legacy</li>
		  	</ol>
		  	<hr>
		  	<h3>Brandon Sanderson</h3>
		  	<p><strong>The Cosmere Universe</strong></p>
		  	<ol id="sidelist">
		  		<li>Mistborn (6 books published of a planned 12)</li>
		  		<li>The Stormlight Archives (4 books published out of a planned 10.)</li>
		  		<li>White Sand Volumes 1-3</li>
		  		<li>Arcanum Unbounded</li>
		  		<li>Elantris</li>
		  		<li>Warbreaker</li>
		</div>
	</div>
</div>