<h1 id="header">Characters</h1>
<div class="fullpage">
	<div id="navbar">
		<ul id="menu">
			<li><a href="index.html">Home</a></li>
			<li><a href="plot.html">Plot</a></li>
			<li class="active"><a href="characters.html">Characters</a></li>
			<li><a href="setting.html">Setting</a></li>
			<li><a href="abilities.html">Abilities</a></li>
			<li><a href="authors.html">Authors</a></li>
			<li><a href="adaptations.html">Adaptations</a></li>
		</ul>
	</div>
	<div id="content">
		<div id="main">
			<img id="maincontentimg" src="images/characters-banner.jpg" alt="a wide image showing a grouping of all of the main Wheel of Time characters.">
			<h3><a id="rand">Rand al'Thor</a></h3>
			<p id="charleft"> <img id="charimgright" src="images/rand.jpg" alt="image of a lean young man with red messy hair, holding a sword with a tattoo of an orange dragon wrapping his wrist.">Rand is the reincarnation of Lews Therin Telamon, the original Dragon who led the war against the Shadow 100 generations ago, and is the heir to his role. He is The Dragon Reborn.<br>His place of birth is unknown as his father returned to Emond's Field with Rand as a baby without any explanation of where he came from. Rand grew up in Emond's Field, believing he was Tam al'Thor's son and would grow into a farmer.<br>After Trollocs and a Myrddraal attack Emond's Field in their search for Rand, Mat & Perrin, he is forced to flee his home to keep his family and friends safe. He has the ability to channel the One Power, but as he is channel Saidar, the side corrupted by the Dark One, he is beginning to lose his mind and his humanity. He is Ta'varen - his actions as The Dragon Reborn will either save or destroy the world.</p>
			<hr>
			<h3><a id="mat">Matrim Cauthon</a></h3>
			<p id="charright"> <img id="charimgleft" src="images/mat.png" alt="A young man with messy dark brown hair and a big white smile holds two dice between his thump and index finger. He is wearing a black wide-brimmed hat, a black scarf, a grey coat, an open-buttoned white shirt with a wolf head pendant hanging between the buttons.">
			Another Ta'varen, Mat was born and raised in Emond's Field. Rand, Mat & Perrin are childhood best friends. Mat is an avid gambler, especially skilled in dice games. The Dark One knows Rand, Mat or Perrin is The Dragon Reborn but doesn't know which of them it is. Mat is therefore also forced to leave Emond's Field to save his family and friends.<br>Mat finds a horde of cursed treasure in a city tainted by evil and makes the decision to take an expensive dagger to sell later. The dagger bonds with him, causing him to become frail and excessively paranoid, leading to him experiencing hallucinations and lashing out at those close to him.<br>The dagger almost kills Mat but he is taken to Tar Valon by the Aes Sedai and they break the seal. It is here he realises he appears to have power over random chance and begins to use his abilities to assist the journey.</p>
			<hr>
			<h3><a id="perrin">Perrin Aybara</a></h3>
			<p id="charleft"> <img id="charimgright" src="images/perrin.png" alt="image of a strong young man with curly brown hair and a curly beard. He has gold/amber eyes.">
			The third of the Ta'varen from Emond's Field. Perrin has spent his life training to be a Blacksmith and has great skill in the craft.<br>After he leaves Emond's Field he begins to form a bond with the wild wolves of the plains. His eyes change colour, he develops heightened vision and smell, he begins to hear the voices of the wolves and can communicate telepathically with them. He also has the ability to enter the Dream World, Tel'aran'rhiod, which allows him to see potential futures. This is the power of a Wolf Brother and the wolves call him "Young Bull" due to his age and physical size.<br>Perrin does not want any of his abilities, thinking them of more of a curse than useful. This is compounded upon when he meets another Wolf Brother who attempted to live his life normally but turned feral and had to killed.</p>
			<hr>
			<h3><a id="moiraine">Moiraine Damodred</a></h3>
			<p id="charright"> <img id="charimgleft" src="images/moiraine.png" alt="image of a mature woman in a large blue and white cloak.">
			Moiraine is a member of the Aes Sedai, a group of powerful sorceresses who channel the One Power. She is a member of the Blue Ajah, a sect of the Aes Sedai who make it their mision to wander the world and attempt to assist in events they believe will keep the world safe.<br>Moiraine is extremely adept at her magic but is duty bound by the magical pledges she has made upon completing her Aes Sedai training. She is joined by Lan, her Warder, who is pledged to protect her at all costs and they share a strong obligational and emotional bond.<br>She realises the importance of the men from Emond's Field and reaches them before the Trolloc attack. She has sworn herself to protect them in an effort to keep the Dark One from taking the world.</p>
			<hr>
			<h3><a id="lan">al'Lan Mandragoran</a></h3>
			<p id="charleft"> <img id="charimgright" src="images/lan.png" alt="a strong, long-haired man with a 5 o'clock shadow beard. His hair is brown and tied back by a black band. He is wearing a dark green cloak and holding a sword in one hand with his other hand resting on the first hand.">
			Lan is the prince of a broken Kingdom, Malkier. While born into royalty his Kingdom has been destroyed by the Dark One and his forces. He is technically now King of Malkier but there is no Kingdom for him to rule. Instead he has trained as a Warder, a collective of highly skilled warriors duty and magically bound to protect Aes Sedai at all costs.<br>He is bound to Moiraine, but the two are much more than coworkers and have become great friends in their journeys together. He has become romantically involved with Nynaeve, but he refuses to act on his feelings for fear Nynaeve will be hurt by being connected to him and that it will affect his duties as a Warder.</p>
			<hr>
			<h3><a id="egwene">Egwene al'Vere</a></h3>
			<p id="charright"> <img id="charimgleft" src="images/egwene.png" alt="a pale young woman with long dark brown hair tucks her hair behind one ear. she is wearing a green dress.">
			Egwene is the daughter of the Innkeeper of Emond's Field. She has been romantically linked to Rand from a young age but Min's Viewings determine that while their feelings are mutual they are destined never to be together. Moiraine originally planned only to take the 3 Ta'veren from Emond's Field but Egwene insisted on joining their party.<br>She has learned to channel the One Power and is currently an Accepted of the Aes Sedai of the White Tower of Tar Valon, along with Nynaeve and Elayne. While she may have great power she will need much further training before she is in complete control of her abilities.<br>Her connection with the One Power is different to others allowing her to exhibit another ability called Dreaming. This ability allows her, like the Wolf Brothers, to enter the Dream World, Tel'aran'rhiod, allowing her to see the present whereabouts and actions of other people, and potential futures.</p>
			<hr>
			<h3><a id="nynaeve">Nynaeve al'Meara</a></h3>
			<p id="charleft"> <img id="charimgright" src="images/nynaeve.png" alt="a woman with long dark brown hair in a single braid which she holds in both hands. She is wearing various pieces of gold jewellery, a green dress and a yellow scarg over one shoulder. She has a red spot on her forehead above her nose.">
			Former Wisdom (resident Healer) of Emond's Field, Nynaeve was training Egwene to take over as Wisdom, if she passed away. Nynaeve does not trust Aes Sedai, believing them to be driven by personal gain more than the benefit of the World at large. She follows the main party after they leave Emond's Field but is discovered by Lan's tracking abilities and decides to join them to ensure Rand, Mat, Perrin and Egwene remain safe.<br>Nynaeve's prowess as a Wisdom stems from her unaware ability to channel the One Power. She begins training with the Aes Sedai and is currently at the rank of Accepted. Currently she plans to use her talents as an Aes Sedai to defeat Moiraine and other Aes Sedai who oppose her.<br>She is linked romantically to Lan but as Lan is hesitant to act on his feelings she is hurt and confused and the two are currently not speaking.</p>
		</div>
		<div id="side">
		  	<h2>Side Characters</h2>
		  	<img id="sideimg" src="images/min.png" alt="image of a young woman with straight brown hair, slightly tanned skin, and a red jacket. She is holding a small dagger close to her wrist and smiling.">
		  	<p><strong>Min Farshaw</strong><br>A mysterious woman that the main characters meet as they begin their journey. She can see symbols around the people she meets which appear to predict potential future events of their lives.</p>
		  	<img id="sideimg" src="images/thom.png" alt="image of a thin old man with a long white beard and a large multicoloured patchwork cloak. He has a determined face and is juggling 3 small red balls.">
		  	<p><strong><a id="thom">Thomdril Merrilin</a></strong><br>A gleeman who travels from town to town playing a variety of instruments and singing folk songs to entertain the locals. He has been on the road most of his life and has learned fighting skills, mostly knives, to ensure his safety.</p>
		  	<img id="sideimg" src="images/elayne.png" alt="image of a young woman with long wavy blonde hair. She is holding a hand close to her chest. A necklace of pearls adorns her neck with a ruby in the middle.">
		  	<p><strong>Elayne Trakand</strong><br>The young Daughter-Heir to the Throne of Andor, one of the largest regions of the un-named land of the Wheel of Time. She has been sent to the city of Tar Valon to train to become a sorceress, an Aes Sedai, like her mother before her.</p>
		  	<img id="sideimg" src="images/loial.jpg" alt="A humanoid creature with large pointed ears, troll-like facial features and large hands. He is wearing a classic-style green suit jacket over a puffy white shirt. He is holding a book in one hand.">
		  	<p><strong>Loial, son of Arent</strong><br>Loial is a young Ogier, a race of tall Humanoid Creatures who commune with the earth around them. Loial has run away from his home and joins the main characters to chronicle their journey.</p>
		</div>
	</div>
</div>
