<div id="footer">
	  		<p>This website is a badly researched and poorly referenced fansite based around a piece of fantasy fiction. This website was built by a student so please make allowances for poor design and subpar sourcing of content. Please do not take anything written here as fact.</p>
</div>