<div>
  		<img class="header" src="images/symbol-banner.jpg" alt="banner image showing black horizontal rectangle with wheel of time symbol - a snake eating it's own tail in an infinity sign shape looped around a wheel with 7 spokes.">
</div>