ul#menu li {
	list-style-type: none;
  	padding-right: 1em;
  	padding-left: 1em;
 	padding-bottom: 1em;
}

ul#menu a {
	text-decoration: none;
}

#menu li.active a {
  background: tan;
  padding: .5em 2em .5em 2em;
  color: brown;
}

#navbar {
	color: brown;
	text-align: center;
	border-right-color: black;
	border-right-width: 3px;
	border-right-style: solid;
}